<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
	<meta charset="ISO-8859-1" >
  <title>Category</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous" >

</head>
<body>
	<section>
		<div class="container-fluid p-5 mt-5">
			<div class="row">
				<div class="col-md-3">
					<div class="card card-sh">
						<div class="card-header text-center fs-4">Add Category</div>
						<div class="card-body">
							<form>
								<div class="mb-3">
									<label>Enter Category</label>
									<input type="text" class="form-control" >
								</div>
								<div>
									<label>Upload Image</label>
									<input type="file" class="form-control" >
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-8">
					<div class="card card-sh">
						<div class="card-header text-center fs-4">Category Details</div>
						<div class="card-body">
							<table class="table">
							  <thead>
							    <tr>
							      <th scope="col">SI No</th>
							      <th scope="col">Category</th>
							      <th scope="col">Image</th>
							      <th scope="col">Action</th>
							    </tr>
							  </thead>
							  <tbody>
							    <tr>
							      <th scope="row">1</th>
							      <td>Mark</td>
							      <td>Otto</td>
							      <td>@mdo</td>
							    </tr>
							  </tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>
